li
    list-style: none
    padding: 10px

i
    padding: 3px

body
    background-image: url('/src/img/background.jpg')

body, ul
    margin: 0px
    padding: 0px

#cabecalho-geral
    nav, ul
    margin: 10px
    width: 170px
    text-align: center